<div>
  <strong>Discusser:</strong>
  <%= discussion.discusser %>
</div>

<div>
  <strong>Discussion:</strong>
  <%= discussion.topic %>
</div>

<div>
  <%= link_to 'Delete Discussion', [discussion.comment, discussion],
  method: :delete, data: {confirm: 'Are you sure?'} %>
</div>

